li{
    display: inline;
    text-decoration: none;
    
    margin-left:90px;
}
a{
    color:black;
    text-decoration:none;
}
.home{
    margin-top:-20px;
    
    
}
.search{
    border-radius:70px;
    width:250px;
    height:50px;
}
nav{
    margin-left: 20px;
}
.world{
    background-color:#1E3932;
    padding:20px;
    color:white;
}
button{
    background-color:#1E3932;
    color:white;
    
    position: absolute;
    top:115px;
    left:1020px;
    border-radius:30px;
    padding:10px;
    border-color:white;
}
h1{
    color:#1E3932 ;
    margin-left:40px;
    margin-top: 30px;
}
.img{
    height:150px;
    width: 150px;
    border-radius:100px;
    
}
.cup{
    margin-left:5px;
}
.para{
    background-color:#FF3474;
    margin-top:90px;
    margin-left: 50px;
    padding:50px;
    border-radius:20px;
    color:white;
}
.ice{
    position: absolute;
    top:550px;
    left:80px;
}
.Berry{
    margin-left:150px;
}
h2{
    margin-left:150px;
}
.exp{
    margin-left:150px;
    font-weight:50px;
}
.order{
    background-color:#00754A;
    margin-left:100px;
    border:#00754A;
    margin-top:550px;
    height:60px;
    width:150px;
}
.Bestseller{
    margin-left:120px;
    margin-top:10px;
    font-weight:600;
}
.Drinks{
    margin-left:400px;
    margin-top:-20px;
    font-weight:600;
}
.food{
    margin-left:650px;
    margin-top:-20px;
    font-weight:600;
}
.Merchandise{
    margin-left:860px;
    margin-top:-20px;
    font-weight:600;
}
.f{
    margin-left:1130px;
    margin-top:-20px;
    font-weight:600;
}
input{
    margin-left:750px;
    margin-top:-40px;
}
.log{
    margin-left:1200px;
    margin-top:-40px;
    position: absolute;

}
